/**
 * IE CSS Stylesheet
 */

#app_item_links_left{
  float:left;
  padding:8px 0 8px 0;
}

#app_item_links_right{
  float:right;
  padding:8px 0 8px 0;
}
.project .screen{
	/* 针对IE的Hack */
  display: block;
  font-size: 218px;/*约为高度的0.873，250*0.873 约为218*/
  font-family:Arial;/*防止非utf-8引起的hack失效问题，如gbk编码*/
}